doctype html
html(ng-app="loreof")
  head(ng-controller="HeadCtrl")
    title(ng-bind="metaData.getMeta('pageTitle')")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0")

    link(rel='stylesheet', href='/css/style.css')
    //- link(href="/css/font-awesome.min.css", rel="stylesheet")
    link(rel="shortcut icon", href="/images/favicon.ico?v=2")

    //- script(type="text/javascript", src="//use.typekit.net/nsy8wom.js")
    //- script.
    //-   (function(d) {
    //-     var config = {
    //-       kitId: 'nsy8wom',
    //-       scriptTimeout: 3000
    //-     },
    //-     h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    //-   })(document);

    <!-- Twitter Meta -->
    meta(name="twitter:card", value="summary")
    meta(name="twitter:site", value="@loreofHQ")
    meta(name="twitter:title", ng-content="{{ metaData.getMeta('twitterTitle') }}")
    meta(name="twitter:description", ng-content="{{ metaData.getMeta('twitterDescription') }}")
    meta(name="twitter:image", ng-content="{{ metaData.getMeta('twitterImage') }}")

    <!-- Open Graph / Facebook Meta -->
    meta(property="og:type", content="website")
    meta(property="og:title", ng-content="{{ metaData.getMeta('facebookTitle') }}")
    meta(property="og:description", ng-content="{{ metaData.getMeta('facebookDescription') }}")
    meta(property="og:url", ng-content="{{ metaData.getMeta('facebookUrl') }}")
    meta(property="og:image", ng-content="{{ metaData.getMeta('facebookImage') }}")

    <!-- Google Meta -->
    meta(name="description", content="{{ metaData.getMeta('pageDescription') }}")

    base(href="/")
  body
    include components/header

    //- h1.site-title Lore Of

    div(ui-view="app")
    //- div(ui-view="modal")

  //- script(type="text/ng-template" id="resource-preview.html")
  //-   include components/resource-preview

  script(src="/js/angular.js")
  script(src="/js/app.js")
