doctype html
html(ng-app="loreof")
  head
    title Lore Of - Find the best resources online
    //- title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0")

    link(rel='stylesheet', href='/css/style.css')
    //- link(href="/css/font-awesome.min.css", rel="stylesheet")
    link(rel="shortcut icon", href="/images/favicon.ico?v=2")

    script(type="text/javascript", src="//use.typekit.net/nsy8wom.js")
    script.
      (function(d) {
        var config = {
          kitId: 'nsy8wom',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

    //- <!-- Twitter Meta -->
    //- <meta name="twitter:card" value="summary">
    //- <meta name="twitter:site" value="@fosterscatering">
    //- <meta name="twitter:title" content="Fosters">
    //- <meta name="twitter:description" content="Bristol based, bespoke outside event and contract caterer extraordinaire">
    //- <meta name="twitter:image" content="http://fostersevents.co.uk/wp-content/uploads/2014/01/fb_img.jpg">

    //- <!-- Facebook Meta -->
    //- <meta property="og:type" content="website">
    //- <meta property="og:title" content="Fosters">
    //- <meta property="og:description" content="Bristol based, bespoke outside event and contract caterer extraordinaire">
    //- <meta property="og:url" content="http://fostersevents.co.uk/">
    //- <meta property="og:image" content="http://fostersevents.co.uk/wp-content/uploads/2014/01/fb_img.jpg">

    //- <!-- Google Meta -->
    //- <meta name="description" content="Bristol based, bespoke outside event and contract caterer extraordinaire">
    //- <meta name="author" content="Fosters Events">
    //- <meta name="robots" content="all">

    base(href="/")
  body
    include components/header

    div.ng-view

  script(type="text/ng-template" id="resource-preview.html")
    include components/resource-preview

  script(src="js/angular.js")
  script(src="js/app.js")